@import "../utilities/colors.scss";
@import "../utilities/fonts.scss";

.landing-page-header {
    height: 130px;
    display: flex;
    justify-content: center;
    background-color: $main-theme;

    p {
        font-size: $font-large;
        font-weight: 500;
        color: $whitesmoke;
    }
}